{% extends "base.html" %}
{% block content %}
{% include "./navbar.html" %}

<div class="news mt-12 ml-4 h-auto w-80 bg-red-200 fixed bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <p class="text-center mb-4">უახლესი შეკითხვები:</p>
    {% for q in new %}
        <a href="{{ q.get_absolute_url }}"><p class="mb-8 ml-4 mr-4 border-b-2 border-sky-500 cursor-pointer break-words">{{ q }}</p></a>
    {% endfor %}
</div>

<div class="relative float-right right-32 mt-12 w-80">
    <form action="{% url 'Profile:search'%}">
        {% csrf_token %}
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
        <div class="">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            </div>
            <input type="text" id="default-search" required="required" name="search"  class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="მოძებნე კითხვა" required>
            <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>
    </form>
</div>

<div class="absolute pl-96 ml-28 mt-12">
    {% for object in question %}
    <div class="p-6 mb-12  mr-80 w-11/12 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
        <div class="mb-2 flex ">
        {% for a in object.category.all %}
        <p class="mr-2 text-sm text-blue-500 ">#{{ a.name }}</p>
        {% endfor %}
    </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white truncate">{{ object.title }}</h5>
    <p class="mb-4 font-normal text-gray-700 dark:text-gray-400 truncate">{{ object.text }}</p>

    <a href="{{ object.get_absolute_url }}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    წაიკითხე მეტი
    <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
</div>
    {% endfor %}
</div>


{% endblock %}