{% extends "base.html" %}
{% block content %}
{% include "./navbar.html" %}

<div class="relative left-80 pt-6">
<div class="">

        <div class="p-6 mb-12 w-7/12 h-auto break-all bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
        <div class="mb-2 flex ">
        {% for a in detail.category.all %}
        <p class="mr-2 text-sm text-blue-500">#{{ a.name }}</p>
        {% endfor %}
    </div>
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ detail.title }}</h5>
    </a>
    <p class="mb-4 font-normal text-gray-700 dark:text-gray-400">{{ detail.text }}</p>

    <a href="#" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    წაიკითხე მეტი
    <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
</div>

</div>
<div class="w-7/12 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
<form method="POST" >
    {% csrf_token %}
    {% for field in form %}
    {{field}}
    {% endfor %}
    <input type="image" class="relative float-right mr-16 mt-6 w-8 h-8" src="https://img.icons8.com/external-kmg-design-outline-color-kmg-design/32/000000/external-send-arrow-kmg-design-outline-color-kmg-design.png"/>
</form>
</div>
</div>


{% endblock %}