{% extends "base.html" %}
{% block content %}
{% include "./navbar.html" %}

<div id="activity" class="bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 border border-gray-400">
    <p class="float-right p-2 mb-4 cursor-pointer" onclick="hide()" id="test">&#10006;</p>
    <div class="likes relative top-8 p-4">
        {% for like in likes %}
        <p><span class="text-lg text-blue-500" >{{ like.user }} </span>  <span>{% if like.like_dislike %} <span class="text-green-600 text-xl ml-4">+1</span>  {% else %} <span class="text-red-600 text-lg ml-4">-1</span> {% endif %}</span> </p>
        <hr>
        {% endfor %}
    </div>
</div>

<div class="relative pt-6  w-7/12 left-80 ">
    <div class="post">
        <div class="p-6 mb-12 pb-16 w-full h-auto break-all bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 border border-gray-400">
            <div class="mb-4">
                <form>
                    {% if fav %}
                        <button type="submit" name="fav" class="absolute right-2 top-5 text-5xl ">&#9733;</button>
                    {% else %}
                        <button type="submit" name="fav" class="absolute right-2 top-5 text-5xl ">&#9734;</button>
                    {% endif %}
                </form>
                <h1>{{ detail.user }}</h1>
            </div>
            <div class="mb-2 flex ">
                {% for a in detail.category.all %}
                <p class="mr-2 text-sm text-blue-500">#{{ a.name }}</p>
                {% endfor %}
            </div>
            <form class="float-right block" id="ld" action="{% url 'Profile:question-detail' pk=detail.id %}">
                <div class="vote circle">
                    {% if like_ex %}
                    <button type="submit" name="like" class="block mb-2 increment up border-4 border-blue-800"></button>
                    {% else %}
                    <button type="submit" name="like" class="block mb-2 increment up "></button>
                    {% endif %}

                    {% if dislike_ex %}
                    <button type="submit" name="dislike"
                            class="block mb-2 increment down border-4 border-blue-800"></button>
                    {% else %}
                    <button type="submit" name="dislike" class="block mb-2 increment down "></button>
                    {% endif %}

                    <div class="count">{{ activity }}</div>
                </div>
                <button type="button"  onclick="show()" class="relative bottom-4  h-8 w-28 px-5  text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">აქტივობა</button>
            </form>
            <h5 class="mb-2 text-2xl font-bold text-gray-900 dark:text-white">{{ detail.title }}</h5>
            <p class="mb-4 font-normal text-gray-700 dark:text-gray-400">{{ detail.text }}</p>

        </div>


        {% if can_update %}
            {% if owner %}
            <div class="relative bottom-8">
                <a href="{% url 'Profile:update-question' object.id %}">
                    <button class="relative inline-flex p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">
                            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                განახლება
                            </span>
                    </button>
                </a>
            </div>
            {% endif %}

        {% else %}
        <div class="relative bottom-8">
             <button class="relative inline-flex p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        განახლების ლიმიტი ამოწურული გაქვს
                    </span>
             </button>
        </div>

        {% endif %}

    </div>


    <div class="w-full bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">

        <form class="bg-white rounded-lg px-4 pt-2" method="post" id="comment" novalidate>
            {% csrf_token %}
            <div class="flex flex-wrap -mx-3 mb-6">
                {% for field in form %}
                {% if field.errors %}
                <div class="ml-3 my-2 bg-red-200 border border-red-200 text-red-700 px-2 py-2 rounded relative">
                    <ul class="">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% endfor %}
                <div class="w-full md:w-full px-3 mb-2 mt-2">
                    {% for field in form %}
                    {{field}}
                    {% endfor %}
                </div>

                <div class="w-full md:w-full flex items-start md:w-full px-3">
                    <div class="-mr-1">
                        <a href="{ url Profile:question_detail detail.id }"><input type='submit' name="comment"
                                                                                   class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100 cursor-pointer"
                                                                                   value='დაკომენტარება'></a>
                    </div>
                </div>
        </form>
    </div>
</div>
<div class="comments">
    {% for a in detail.question.all %}
    <div class="w-full bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 mt-8 mb-4 h-auto break-all p-4 border border-gray-400">
        <div>
            <p class="text-indigo-700 text-xl"> {{a.user}}</p>
        </div>
        <p class="fond-medium">{{a.text}}</p>
    </div>

    {% endfor %}
</div>

<script>
function show() {
   document.getElementById('activity').style.display = "block";
<!--   document.querySelectorAll('body >*:not(.activity)').forEach(e => e.style.filter = "blur(2px)");-->
}

function hide() {
   document.getElementById('activity').style.display = "none";

}
</script>

<style>
#activity{
  display:none;
  width:20%;
  height:24%;
  position: absolute;
  top:11%;
  z-index:1;
  left: 82%;
  margin-left: -100px;
  overflow-y:scroll;
  overflow-x:hidden;
}
.circle .up {
  border-radius: 10rem 10rem 0 0;
}
.circle .down {
  border-radius: 0 0 10rem 10rem;

}
.circle .count {
  border-radius: 50%;
}
.vote {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans";
  position: relative;
  width: 7rem;
  height: 7rem;
  bottom:20px;
}

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}
.increment.up {
  background: #4BC35F;
  height: 50%;
  margin-bottom:30px;
}
.increment.down {
  background: #C15044;
  height: 50%;

}
.increment:hover {
  opacity: 1;
}

.count {
  position: absolute;
  top: 0;
  border-radius: 0.1rem;
  margin: 2rem;
  background: #F6F3E4;
  width: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.7rem;
  text-align: center;
  box-shadow: 0 0 0 0.5rem #F6F3E4;
  pointer-events: none;
}
.count.upvoted {
  color: #4BC35F;
}
.count.downvoted {
  color: #C15044;
}


</style>

{% endblock %}